<h1>Hr-mitra</h1>
<%= link_to 'About_Us', about_path,target: '_blank',style:'color:red' %> 
<br>
<%= link_to 'Contact_Us', contact_path,target: '_blank' ,style:'color:red'%> 
<br>
<%= link_to 'Privacy_Policy_Us', privacy_policy_path,target: '_blank',style:'color:red' %> 
<br>
<%= link_to 'Terms_Us', terms_path,target: '_blank' ,style:'color:green'%> 
